@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/HomeBackground.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Learing Management system</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link align-middle px-0 text-white">
                                <i class="fs-4 bi bi-house-fill"></i><span class="ms-1 d-none d-sm-inline fw-bold fs-6">Home</span>
                            </a>
                        </li>

                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white" role="button" >
                                <i class="fs-4 bi bi-people-fill"></i><span class="ms-1 d-none d-sm-inline fw-bold fs-6">Departments</span>
                                <i class="fa fa-sort-up p-1 navbar-toggler-icon" style="font-size:15px;color:red"></i>
                            </a>
                            <ul class="collapse show nav flex-column ms-1 justify-content-sm-end" id="submenu1" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a asp-controller="Department" asp-action="AddDepartment" class="nav-link px-0 text-white "> Add Department</a>
                                </li>
                                <li>
                                    <a asp-controller="Department" asp-action="ViewDepartment" class="nav-link px-0 text-white"> View All Department </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white" role="button" data-toggle="dropdown">
                                <i class="fs-4 bi bi-building-fill-gear"></i><span class="ms-1 d-none d-sm-inline fw-bold fs-6">Student</span>
                            </a>
                            <ul class="collapse show nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a asp-controller="Student" asp-action="ViewAllStudents" class="nav-link px-0 text-white"> List all Student</a>
                                </li>
                                <li>
                                    <a asp-controller="Student" asp-action="AddStudent" class="nav-link px-0 text-white"> Add Student </a>
                                </li>
                            </ul>
                        </li>
                        
                        <div class="card col-10 border align-bottom">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <p class="fw-bold fs-4 text-black m-1 p-1 card-header rounded-3 row justify-content-center">Hello</p>
                                <a class="text-dark btn-link text-sm-center card-body" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
                                @* <a class="card-body text-danger" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                    @User.Claims.FirstOrDefault(c => c.Type == "FullName")?.Value -Abc
                                </a> *@


                                <form class="card-footer row justify-content-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="btn btn-dark Sign-text col-8">Logout
                                        <i class="fa fa-backward"></i>
                                    </button>
                                    
                                </form>
                                <button class="btn btn-sm" ><i class="fa fa-user-gear"></i></button>
                            }
                        </div>
                        
                    </ul>
                    <hr>

                </div>
            </div>
            <div class="col py-3">
                @RenderBody()
            </div>
        </div>
    </div>
    
    @* <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div> *@
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


@await RenderSectionAsync("Scripts", required: false)

</html>